{% extends "baseadmin.html" %} 
{% block title %}Add Product{% endblock %}
{% block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(static/images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			Contact PRODUCTS
		</h2>
	</section>

	<!-- content page -->

	<form class="form-horizontal" name="form"  onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
		<fieldset>
		
	
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="product_id">PRODUCT NAME</label>  
		  <div class="col-md-4">



		  <input class="form-control input-md" type="text" name="name" minlength ="5" placeholder="PRODUCT NAME">
			
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="product_name">PRODUCT PRICE</label>  
		  <div class="col-md-4">
		  <input id="product_name" name="price" placeholder="PRODUCT PRICE" class="form-control input-md" required="" type="text">
			
		  </div>
		</div>
		




		<!-- Select Basic -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
		  <div class="col-md-4">
			<select id="product_categorie" name="cat" class="form-control" required>
					{% if categories %} {% for category in categories %}
					<option value="{{category.id}}">{{category.name}}</option>    
					
					{% endfor %}		
					{% endif %}			
					<!-- <option value="1">Leather</option>       
					<option value="2">Belt Bags</option>       
					<option value="3">Crossbody</option>
					<option value="4">Large Bags</option>
					<option value="5">Handbags</option>
					<option value="6">mini bags</option> -->
			</select>
		  </div>
		</div>
		
		
		<!-- File Button --> 
		<div class="form-group">
		  <label class="col-md-4 control-label" for="filebutton">PRODUCT image</label>
		  <div class="col-md-4">
			<input id="filebutton" name="fileToUpload" class="input-file" type="file" required>
		  </div>
		</div>
		
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="singlebutton">Submit Button</label>
		  <div class="col-md-4">
			<button id="singlebutton" name="singlebutton" class="btn btn-primary"> Save</button>
		  </div>
		  </div>
		
		</fieldset>


		</form>
		<script>
function isInt(value) {
  return !isNaN(value) && 
         parseInt(Number(value)) == value && 
         !isNaN(parseInt(value, 10));
}



			function validateForm() {
				var name = document.forms["form"]["name"].value;
				if (name == "") {
					alert("Name must be filled out");
					return false;
				}

				var price = document.forms["form"]["price"].value;
				if (!isInt(price))

				{
						alert("price is not an integer");
						return false;
				}


								var cat = document.forms["form"]["cat"].value;
		
				if (cat == "") {
					alert("you must choose the category");
					return false;
				}


				$.get("{{ url_for('Cartvalue')}}",function(data){
    
				if(data == "0")
				{
					
					alert("Cart is empty ,Cannot make order with cart empty");
					return false;
				}


			}

			</script>
</body>
</html>
{% endblock  %}


