{% extends "baseadmin.html" %} 
{% block title %}Add Product{% endblock %}
{% block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(static/images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			Contact PRODUCTS
		</h2>
	</section>

	<!-- content page -->

	<form class="form-horizontal" name="form"  onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
		<fieldset>
		
	
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="product_id">PRODUCT NAME</label>  
		  <div class="col-md-4">



		  <input class="form-control input-md" type="text" name="name" minlength ="5" placeholder="PRODUCT NAME">
			
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="product_name">PRODUCT PRICE</label>  
		  <div class="col-md-4">
		  <input id="product_name" name="price" placeholder="PRODUCT PRICE" class="form-control input-md" required="" type="text">
			
		  </div>
		</div>
		




		<!-- Select Basic -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
		  <div class="col-md-4">
			<select id="product_categorie" name="cat" class="form-control" required>
					<option >Choose Category </option>   
					<option value="1">Leather</option>       
					<option value="2">Belt Bags</option>       
					<option value="3">Crossbody</option>
					<option value="4">Large Bags</option>
					<option value="5">Handbags</option>
					<option value="6">mini bags</option>
			</select>
		  </div>
		</div>
		
		
		<!-- File Button --> 
		<div class="form-group">
		  <label class="col-md-4 control-label" for="filebutton">PRODUCT image</label>
		  <div class="col-md-4">
			<input id="filebutton" name="fileToUpload" class="input-file" type="file" required>
		  </div>
		</div>
		
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="singlebutton">Submit Button</label>
		  <div class="col-md-4">
			<button id="singlebutton" name="singlebutton" class="btn btn-primary"> Save</button>
		  </div>
		  </div>
		
		</fieldset>


		</form>
		<script>
			function validateForm() {
				var name = document.forms["form"]["name"].value;
				if (name == "") {
					alert("Name must be filled out");
					return false;
				}

				var price = document.forms["form"]["price"].value;
				if (price === parseInt(price, 10))
				{    }
				else
				{
						alert("price is not an integer");
						return false;
				}

				




			}
			</script>
</body>
</html>
{% endblock  %}


