{% extends "baseadmin.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<style type="text/css">


   



table {
    border-collapse:collapse;
    table-layout: fixed;
    width: 100%;   
    margin: 20px auto;
    word-break: break-word;
}

th,td {
    border-style: solid;
    border-width: 5px;
    border-color: #BCBCBC;
    word-wrap: break-word;

}


    body {
  padding: 14px;
  text-align: center;
}



.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center;
}


    table td {border:solid 1px #fab; width:100px; word-wrap:break-word;}
</style>




</head>




<div class="container-menu-header">
    <!-- <div class="topbar">
        <div class="topbar-social">
            <a href="#" class="topbar-social-item fa fa-facebook"></a>
            <a href="#" class="topbar-social-item fa fa-instagram"></a>
            <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
            <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
            <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
        </div>

        <span class="topbar-child1">
            Free shipping for standard order over $100
        </span>

        <div class="topbar-child2">
            <span class="topbar-email">
                fashe@example.com
            </span>

            <div class="topbar-language rs1-select2">
                <select class="selection-1" name="time">
                    <option>USD</option>
                    <option>EUR</option>
                </select>
            </div>
        </div>
    </div> -->

  

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
        
            </div>
            <table class="table table-bordered">
                <thead>


                    
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Time</th>
                        <th>Message</th>
                        
                        
                    </tr>
                </thead>
                <tbody>


                        {% if contacts %} {% for contact in contacts %}
                        <tr>
                                 <td nowrap>{{contact.name}}</td>
                                 <td nowrap>{{contact.phone}}</td>
                                  <td nowrap>{{contact.email }}</td>
                            
                                     <td nowrap>{{contact.timestamp}}</td>
                                     <td nowrap>{{contact.message}}</td>
                                     <td nowrap><input  data-id='{{contact.id}}'  class='DoneBtn' type="checkbox" > <br></td>

                                     
                        </tr>
                        {% endfor %} {% endif %}
                       
                </tbody>
            </table>
        </div>
    </div>     

</body>
<script>
        
    
    $(document).on("click",".DoneBtn",function () {


var id=$(this).data('id');



$.ajax({
                 type: 'POST', 
                 url: "{{url_for('DeleteMsg')}}",
                 data: {msgID : id},
                 success: function (data) {

                    location.reload();
                 }
                 
         });





    });
</script>

        
</html>                            {% endblock  %}