{% extends "baseadmin.html" %} {% block content %}
<style type="text/css">







    body {
  padding: 14px;
  text-align: center;
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}

.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center;
}
</style>




</head>




<div class="container-menu-header">
    <!-- <div class="topbar">
        <div class="topbar-social">
            <a href="#" class="topbar-social-item fa fa-facebook"></a>
            <a href="#" class="topbar-social-item fa fa-instagram"></a>
            <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
            <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
            <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
        </div>

        <span class="topbar-child1">
            Free shipping for standard order over $100
        </span>

        <div class="topbar-child2">
            <span class="topbar-email">
                fashe@example.com
            </span>

            <div class="topbar-language rs1-select2">
                <select class="selection-1" name="time">
                    <option>USD</option>
                    <option>EUR</option>
                </select>
            </div>
        </div>
    </div> -->

  

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">

            
            </div>
            <table class="table table-bordered">
                <thead>


                    
                    <tr>
                            <th>id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Notes</th>
                        <th>Time</th>
                        <th>Email</th>
                        <th>Cost</th>
                        <th>Done</th>
                        
                        
                    </tr>
                </thead>
                <tbody>


                        {% if orders %} {% for order in orders %}
                        <tr>
                                <td nowrap>{{order.id}}</td>
                                 <td nowrap>{{order.name}}</td>
                                 <td nowrap>{{order.phone}}</td>
                                  <td nowrap>{{order.address }}</td>
                                  <td nowrap>{{order.notes }}</td>
                            
                                     <td nowrap>{{order.timestamp}}</td>
                                     <td nowrap>{{order.email}}</td>
                                     <td nowrap>{{order.cost}}</td>
                                     <td nowrap><input  data-id='{{order.id}}'  class='DoneBtn' type="checkbox" > <br></td>
<td>
                                     
                                    
                                   <a href='#' data-id='{{order.id}}'  class='EditEmpBtn' data-toggle='modal' title='shopping basket' >
                                   <i class="material-icons">shopping_basket</i></a>
                                </td>
                                     
                        </tr>
                        {% endfor %} {% endif %}
                       
                </tbody>
            </table>
        </div>
    </div>     

</body>


        <script>
        
    
        $(document).on("click",".DoneBtn",function () {
    
  
    var id=$(this).data('id');
alert(id);

  
$.ajax({
                     type: 'POST', 
                     url: "{{url_for('DeleteOrder')}}",
                     data: {orderID : id},
                     success: function (data) {

                        location.reload();
                     }
                     
             });





        });

    
    $(document).on("click",".EditEmpBtn",function () {
    
  
    var id=$(this).data('id');

var html = '';

    $.ajax({
                     type: 'POST', 
                     url: "{{url_for('orderProducts')}}",
                     data: {orderID : id},
                     dataType: "json",
                     success: function (data) {
           






// $("#thetable tr :not(:first)").remove();

$("#thetable tr ").remove();
for(var i = 0; i < data.length; i++)
{
   
            html += '<tr><td>' + data[i]["Names"] + 
                    '</td><td>' + data[i]["Occur"] +
                        '</td><td>' + data[i]["Price"] +
                            '</td><td><img src="/static/uploads/' + data[i]["Picture"]  +'" alt="" border=3 height=50 width=50></img></td></tr>';


}    
                                 

             
$('#thetable').append(html);



            }
                     
             });
    
    
    
    

 
    $("#myModal").modal()
    
    });

</script>
        
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                







                <table class="table table-bordered" >
                    <thead>
    
    
                        
                        <tr>
                            
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>price</th>
                            <th>photo</th>
          
                            
                        </tr>
                    </thead>
                    <tbody id="thetable">
    
    
                          
                           
                    </tbody>
                </table>


     
              </div>
              </div>
        </div>
</html>                            {% endblock  %}