{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
<style>

body {
	margin:0;
	padding:40px;
	background:#fff;
	font:80% Arial, Helvetica, sans-serif;
	color:#555;
	line-height:180%;
}

h1{
	font-size:180%;
	font-weight:normal;
	color:#555;
}
h2{
	clear:both;
	font-size:160%;
	font-weight:normal;
	color:#555;
	margin:0;
	padding:.5em 0;
}
a{
	text-decoration:none;
	color:#f30;	
}
p{
	clear:both;
	margin:0;
	padding:.5em 0;
}
pre{
	display:block;
	font:100% "Courier New", Courier, monospace;
	padding:10px;
	border:1px solid #bae2f0;
	background:#e3f4f9;	
	margin:.5em 0;
	overflow:auto;
	width:800px;
}

img{border:none;}
ul,li{
	margin:0;
	padding:0;
}
li{
	list-style:none;
	float:left;
	display:inline;
	margin-right:10px;
}



/*  */

.preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}
		
		
</style>
	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({{ url_for('static',filename='images/heading-pages-02.jpg')}});">
		<h2 class="l-text2 t-center">
			Women
		</h2>
		<p class="m-text13 t-center">
			New Arrivals Women Collection 2018
		</p>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
					
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>
						<ul class="p-b-54">
							{%if category == 0 %}
							<li class="p-t-4">
								<a href="#" class="s-text13 active1">
									All
								</a>
							</li>
							{%else %}
								<li class="p-t-4">
									<a href="{{ url_for('Shop')}}" class="s-text13">
										All
									</a>
								</li>
							{%endif%}
							{%if category == "1" %}
								<li class="p-t-4">
									<a href="#" class="s-text13 active1">
											Leather
									</a>
								</li>
							{%else %}
								<li class="p-t-4">
									<a href="{{ url_for('Shop', category=1)}}" class="s-text13 ">
											Leather
									</a>
								</li>
							{%endif%}
							{%if category == "2" %}
							<li class="p-t-4">
								<a href="#" class="s-text13 active1">
										Belt bags
								</a>
							</li>
							{%else %}
							<li class="p-t-4">
									<a href="{{ url_for('Shop', category=2)}}" class="s-text13 ">
											Belt bags
									</a>
								</li>

							{%endif%}
							{%if category == "3" %}
							<li class="p-t-4">
								<a href="#" class="s-text13 active1">
										Crossbody bags
								</a>
							</li>
							{%else %}
								<li class="p-t-4">
									<a href="{{ url_for('Shop', category=3)}}" class="s-text13 ">
											Crossbody bags
									</a>
								</li>
							{%endif%}
							{%if category == "4" %}
								<li class="p-t-4">
								<a href="#" class="s-text13 active1">
										Large bags 
								</a>
							</li>
							{%else %}
								<li class="p-t-4">
									<a href="{{ url_for('Shop', category=4)}}" class="s-text13 ">
											Large bags 
									</a>
								</li>

							{%endif%}
							{%if category == "5" %}
								<li class="p-t-4">
								<a href="#" class="s-text13 active1">
										Handbags
								</a>
							</li>
							{%else %}
								<li class="p-t-4">
									<a href="{{ url_for('Shop', category=5)}}" class="s-text13 ">
											Handbags
									</a>
								</li>
							{%endif%}
							{%if category == "6" %}
							<li class="p-t-4">
								<a href="#" class="s-text13 active1">
										Mini bags 
								</a>
							</li>
							{%else %}
								<li class="p-t-4">
									<a href="{{ url_for('Shop', category=6)}}" class="s-text13 ">
											Mini bags 
									</a>
								</li>
							{%endif%}
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!-- Product -->
					<div class="row">
							{% if products %} {% for product in products %}

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								{% if (product.price > product.oldPrice) or (product.price == product.oldPrice) %}
									<div class="block2-img wrap-pic-w of-hidden pos-relative ">
								{% else %}
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								{% endif %}

								<a href="/static/uploads/{{product.picture}}" class="preview"><img src="/static/uploads/{{product.picture}}" style="max-height: -webkit-fill-available;" alt="gallery thumbnail" /></a>


									<div class="block2-overlay trans-0-4">
										<!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a> -->

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick='addToCart({{product.id}})'>
												Add to Cart
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a  class="block2-name dis-block s-text3 p-b-5">
											{{product.name}}
									</a>



									{% if (product.price > product.oldPrice) or (product.price == product.oldPrice) %}
									<span class="block2-price m-text6 p-r-5">
											{{product.price}}  EGP
									</span>


								    {% elif product.oldPrice > product.price %}
									<span class="block2-oldprice m-text7 p-r-5">
													{{product.oldPrice}}
									</span>

									<span class="block2-newprice m-text8 p-r-5">
											{{product.price}} EGP
									</span>
									
									{% endif %}
								</div>
							</div>
						

                         </div>
					
{% endfor %}
{% endif %}

					</div>
					<!-- Pagination -->
					{%if pages%}
					<div class="pagination flex-m flex-w p-t-26">
                     {%for  p in range(1,pages+1) %}
					
						{%if p == page %}
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">{{p}}</a>
						{%else%}
						
						<a href="{{ url_for('Shop', category=category , page = p)}}" class="item-pagination flex-c-m trans-0-4">{{p}}</a> 
						{%endif%}
						
						
						{%endfor%}
					</div>
					{%endif%}
				
			</div>
		</div>
	</section>
	{% endblock %}

	{% block footer %}

    	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/popper.min.js')}}"></script> -->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>

<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/slick/slick.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/slick-custom.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/sweetalert/sweetalert.min.js')}}"></script>

	<script type="text/javascript">
(function($) {
    "use strict";
    $.fn.anarchytip = function(options) {
        var defaults = $.extend({
            xOffset: 10,
            yOffset: 30
        }, options);
        return this.each(function() {
            var a = $(this);
            a.each(function(e) {
                    this.t = this.title,
                        this.title = "";
                    var c = (this.t != "") ? "<br/>" + this.t : "";
                    $("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' />" + c + "</p>");
                    $("#preview").css({
                        "top": (e.pageY - defaults.xOffset) + "px",
                        "left": (e.pageX + defaults.yOffset) + "px"
                    }).fadeIn();
                },
                function() {
                    this.title = this.t;
                    $("#preview").remove();
                });
            a.mousemove(function(e) {
                $("#preview")
                    .css("top", (e.pageY - defaults.xOffset) + "px")
                    .css("left", (e.pageX + defaults.yOffset) + "px");
            })
        })
    }
})(jQuery);




		$('.preview').anarchytip();
	</script>
	<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36251023-1']);
_gaq.push(['_setDomainName', 'jqueryscript.net']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>




<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/noui/nouislider.min.js')}}"></script> -->
	<script type="text/javascript">




		/*[ No ui ]
	    ===========================================================*/
	    // var filterBar = document.getElementById('filter-bar');
	    // noUiSlider.create(filterBar, {
	    //     start: [ 50, 200 ],
	    //     connect: true,
	    //     range: {
	    //         'min': 50,
	    //         'max': 200
	    //     }
	    // });
	    // var skipValues = [
	    // document.getElementById('value-lower'),
	    // document.getElementById('value-upper')
	    // ];
	    // filterBar.noUiSlider.on('update', function( values, handle ) {
	    //     skipValues[handle].innerHTML = Math.round(values[handle]) ;
	    // });
		function ClearCart()
	 {		var data=
      {
      pid : 0
    
    
    };
		
	
    
    
    $.post("{{ url_for('ClearCart')}}",data,function(data){
    
    
		document.getElementById("cartvalue").textContent=data;
    });
	 }
	 function addToCart(id)
	 {		var data=
      {
      pid : id
    
    
    };
		
	
    
    
    $.post("{{ url_for('addToCart')}}",data,function(data){
    
    
		document.getElementById("cartvalue").textContent=data;
		
    
    });
	 }
 (function($) {
	$.get("{{ url_for('Cartvalue')}}",function(data){
    
	document.getElementById("cartvalue").textContent=data;
});
    })(jQuery);
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.min.js')}}"></script>

</body>
</html>

{% endblock %}