{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
<style>

	#myImg {
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
	}
	
	#myImg:hover {opacity: 0.7;}
	
	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}
	
	/* Modal Content (image) */
	.modal-content {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
	}
	
	/* Caption of Modal Image */
	#caption {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 10px 0;
		height: 150px;
	}
	
	/* Add Animation */
	.modal-content, #caption {  
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	}
	
	@-webkit-keyframes zoom {
		from {-webkit-transform:scale(0)} 
		to {-webkit-transform:scale(1)}
	}
	
	@keyframes zoom {
		from {transform:scale(0)} 
		to {transform:scale(1)}
	}
	
	/* The Close Button */
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
	}
	
	.close:hover,
	.close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}
	
	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
		.modal-content {
			width: 100%;
		}
	}
	</style>

	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({{ url_for('static',filename='images/heading-pages-02.jpg')}});">
		<h2 class="l-text2 t-center">
			Women
		</h2>
		<p class="m-text13 t-center">
			New Arrivals Women Collection 2018
		</p>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
					
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>
						<ul class="p-b-54">
						
							<li class="p-t-4">
								<a href="{%if 0|string == category|string %} # {%else%}{{ url_for('Shop', category=0)}}{%endif%} " class="s-text13 {%if '0' == category|string %} active1 {%endif%}">
									All
								</a>
							</li>

							

							{% if categories %} 
							{% for cat in categories %}

							<li class="p-t-4">

								<a href="{%if cat.id|string == category|string  %} # {%else%}{{ url_for('Shop', category=cat.id)}}{%endif%} " class="s-text13 {%if cat.id|string == category|string %} active1 {%endif%}">
										{{cat.name}}
								</a>
							</li>

							{%endfor%}
							{%endif%}
							</ul>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!-- Product -->
					<div class="row">
							{% if products %} {% for product in products %}
	

								


						<div class=" col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class=" block2">
								{% if (product.price > product.oldPrice) or (product.price == product.oldPrice) %}
									<div class="  block2-img wrap-pic-w of-hidden pos-relative ">
								{% else %}
								<div  class="  block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								{% endif %}

								<div class="enlarge_pane_contain">
										<div class="enlarge_pane">
											<div class="enlarge">
												<div class="enlarge_contain">
													<img src="/static/uploads/{{product.picture}}"  alt="" onclick ='viewImage("/static/uploads/{{product.picture}}")'id="myImg">
												</div>
												<a href="/static/uploads/{{product.picture}}"  title="Toggle Zoom"></a>
											</div>
										</div>
									</div>
									
										<!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a> -->

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
		
										</div>
									
								</div>
								<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick='addToCart({{product.id}})'>
										Add to Cart
									</button>
								<div class="block2-txt p-t-20">
									<a  class="block2-name dis-block s-text3 p-b-5">
											{{product.name}}
									</a>



									{% if (product.price > product.oldPrice) or (product.price == product.oldPrice) %}
									<span class="block2-price m-text6 p-r-5">
											{{product.price}}  EGP
									</span>


								    {% elif product.oldPrice > product.price %}
									<span class="block2-oldprice m-text7 p-r-5">
													{{product.oldPrice}}
									</span>

									<span class="block2-newprice m-text8 p-r-5">
											{{product.price}} EGP
									</span>
									
									{% endif %}
								</div>
							</div>
						

                         </div>
					
{% endfor %}
{% endif %}

					</div>
					<!-- Pagination -->
					{%if pages%}
					<div class="pagination flex-m flex-w p-t-26">
                     {%for  p in range(1,pages+1) %}
					
						{%if p == page %}
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">{{p}}</a>
						{%else%}
						
						<a href="{{ url_for('Shop', category=category , page = p)}}" class="item-pagination flex-c-m trans-0-4">{{p}}</a> 
						{%endif%}
						
						
						{%endfor%}
					</div>
					{%endif%}
				
			</div>
		</div>
	</section>
	{% endblock %}

	{% block footer %}

    	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

	<div id="myModal" class="modal">

		<!-- The Close Button -->
		<span class="close">&times;</span>
	
		<!-- Modal Content (The Image) -->
		<img class="modal-content" id="img01">
	
		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div>


<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/popper.min.js')}}"></script> -->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>

	


	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>

<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/slick/slick.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/slick-custom.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/sweetalert/sweetalert.min.js')}}"></script>




<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/noui/nouislider.min.js')}}"></script> -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>	 -->

	<script type="text/javascript">




		/*[ No ui ]
	    ===========================================================*/
	    // var filterBar = document.getElementById('filter-bar');
	    // noUiSlider.create(filterBar, {
	    //     start: [ 50, 200 ],
	    //     connect: true,
	    //     range: {
	    //         'min': 50,
	    //         'max': 200
	    //     }
	    // });
	    // var skipValues = [
	    // document.getElementById('value-lower'),
	    // document.getElementById('value-upper')
	    // ];
	    // filterBar.noUiSlider.on('update', function( values, handle ) {
	    //     skipValues[handle].innerHTML = Math.round(values[handle]) ;
	    // });
		function ClearCart()
	 {		var data=
      {
      pid : 0
    
    
    };
		
	
    
    
    $.post("{{ url_for('ClearCart')}}",data,function(data){
    
    
		document.getElementById("cartvalue").textContent=data;
    });
	 }
	 function addToCart(id)
	 {	
		 
	
		 	var data=
      {
      pid : id
    
    
    };
		
	
    
    
    $.post("{{ url_for('addToCart')}}",data,function(data){
    
    
		document.getElementById("cartvalue").textContent=data;
		
    
    });
	 }
 (function($) {
	$.get("{{ url_for('Cartvalue')}}",function(data){
    
	document.getElementById("cartvalue").textContent=data;
});
    })(jQuery);
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.min.js')}}"></script>

	<script>
		function viewImage(src)
		{
		// Get the modal
		var modal = document.getElementById('myModal');
		
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById('myImg');
		var modalImg = document.getElementById("img01");
		

			modal.style.display = "block";
			modalImg.src = src;
			
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() { 
			modal.style.display = "none";
		}
		}
		</script>


</body>

<!-- <script src="{{url_for('static', filename='js/zoom/enlarge.js')}}"></script>	
<script src="{{url_for('static', filename='js/zoom/enlarge.init.js')}}"></script>	
<script src="{{url_for('static', filename='js/zoom/init.js')}}"></script>	



<script>
	

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();



			
			</script>
		 -->
</html>

{% endblock %}